function toLower(str) {
    return str.toLowerCase()
}

function splitPhone(str) {
    if (str.length !== 11) { //判断是不是手机号
        return str
    } else {

        var arr = str.split('')
        arr.splice(3, 0, '-')
        arr.splice(8, 0, '-')
        return arr.join('')
}
}

module.exports = {
    toLower: toLower,
    splitPhone: splitPhone
}